JackWilkinson_P4063103-2/JackWilkinson_P4063103-1/JackWilkinson_P4063103/ConsoleApplication1/ICATask4/Service References/SkillService/SkillService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="SkillService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://skillservice.azurewebsites.net/SkillService.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://skillservice.azurewebsites.net/SkillService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://skillservice.azurewebsites.net/SkillService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/WCFServiceWebRole1.DTO" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="ISkillService_GetSkill_InputMessage">
    <wsdl:part name="parameters" element="tns:GetSkill" />
  </wsdl:message>
  <wsdl:message name="ISkillService_GetSkill_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetSkillResponse" />
  </wsdl:message>
  <wsdl:message name="ISkillService_GetAllSkills_InputMessage">
    <wsdl:part name="parameters" element="tns:GetAllSkills" />
  </wsdl:message>
  <wsdl:message name="ISkillService_GetAllSkills_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetAllSkillsResponse" />
  </wsdl:message>
  <wsdl:portType name="ISkillService">
    <wsdl:operation name="GetSkill">
      <wsdl:input wsaw:Action="http://tempuri.org/ISkillService/GetSkill" message="tns:ISkillService_GetSkill_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISkillService/GetSkillResponse" message="tns:ISkillService_GetSkill_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetAllSkills">
      <wsdl:input wsaw:Action="http://tempuri.org/ISkillService/GetAllSkills" message="tns:ISkillService_GetAllSkills_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISkillService/GetAllSkillsResponse" message="tns:ISkillService_GetAllSkills_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_ISkillService" type="tns:ISkillService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetSkill">
      <soap:operation soapAction="http://tempuri.org/ISkillService/GetSkill" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAllSkills">
      <soap:operation soapAction="http://tempuri.org/ISkillService/GetAllSkills" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="SkillService">
    <wsdl:port name="BasicHttpBinding_ISkillService" binding="tns:BasicHttpBinding_ISkillService">
      <soap:address location="http://skillservice.azurewebsites.net/SkillService.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>