JackWilkinson_P4063103-2/JackWilkinson_P4063103-1/JackWilkinson_P4063103/ConsoleApplication1/ICATask4/Service References/SkillService/SkillService2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/WCFServiceWebRole1.DTO" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/WCFServiceWebRole1.DTO" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="SkillsDTO">
    <xs:sequence>
      <xs:element minOccurs="0" name="skillCode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="skillDescription" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="SkillsDTO" nillable="true" type="tns:SkillsDTO" />
  <xs:complexType name="ArrayOfSkillsDTO">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="SkillsDTO" nillable="true" type="tns:SkillsDTO" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfSkillsDTO" nillable="true" type="tns:ArrayOfSkillsDTO" />
</xs:schema>