JackWilkinson_P4063103-2/JackWilkinson_P4063103-1/JackWilkinson_P4063103/ConsoleApplication1/ICATask4/Service References/SkillService/SkillService.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://skillservice.azurewebsites.net/SkillService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/WCFServiceWebRole1.DTO" />
  <xs:element name="GetSkill">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="skillCode" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSkillResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/WCFServiceWebRole1.DTO" minOccurs="0" name="GetSkillResult" nillable="true" type="q1:SkillsDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllSkills">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllSkillsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/WCFServiceWebRole1.DTO" minOccurs="0" name="GetAllSkillsResult" nillable="true" type="q2:ArrayOfSkillsDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>